// Colors.
$indigo-500: #3F51B5;
$indigo-400: #5C6BC0;
$indigo-900: #1A237E;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$red-500: #F44336;
$red-800: #C62828;
$red-900: #B71C1C;

$teal-500: #009688;
$teal-600: #00897B;
$teal-800: #00695C;
$teal-700: #00796B;

$deep-orange-900: #BF360C;

.App-calendar {
  font-size: 15px;
  padding: 30px 30px;
  max-width: 1800px;
  width: 98%;
  height: 100vh;
  margin: auto;
  flex: 2;

  .rbc-event {
    background-color: #34B466 !important;
  }

}

// Util classes.
.twg-util__full-width {
  width: 100%;
}

.twg-util__half-width {
  width: 50%;
  float: left;
}

.twg-radio {
  margin-right: 25px;
}

.mdl-card {
  background: none;
  background: $grey-50;
  border: 1px solid $grey-300;
}

.mdl-card__supporting-text {
  color: $grey-900;
}

.mdl-card__title {
  background: #009688;
  color: $grey-100;
}

.mdl-card {
  .mdl-card {
    margin: 0px;
  }
}

.mdl-card {
  min-height: 100px;
}

.mdl-cell {
  min-height: 0;
}

.material-icons {
  margin-right: 10px;
}

// Layout.
body {
  background: $grey-200;
  color: $grey-700;
  min-height: 100%;
}

plaintext {
  white-space: pre-wrap;
  font-family: 'Roboto', 'Helvetica', "Arial";
}

.twg-logo {
  color: #fff;
  font-weight: 200;
  width: 60px;
  font-size: 18px;
}

.twg-user-avatar {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 50px !important;
  padding: 0px !important;
  text-align: center;
  position: relative;
  margin-left: 10px;

  &:focus {
    outline: none;
  }

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .material-icons {
    font-size: 50px;
    margin: 0px;
  }
}

.twg-menu-user-menu {
  background: $teal-600;

  li {
    color: $grey-100;

    &:hover {
      background: $teal-500;
    }
  }
}

.twg-unit-switcher-menu {
  button {
    color: $grey-100;
    background: $teal-600;
    border-radius: 18px;

    &:hover {
      background: $teal-800;
    }
  }

  .mdl-menu {
    background: $teal-600;

    .mdl-menu__item {
      color: $grey-100;
      &:hover {
        background: $teal-500;
      }
    }
  }

}

.twg-page-content {
  padding: 0px;
  box-sizing: border-box;
}

.twg-textfield-wrapper {
  padding: 0 10px;
  box-sizing: border-box;
  float: left;

  > .mdl-textfield {
    width: 100%;
  }
}

.twg-main-content {
  width: 100%;
  margin: 0 auto;
}

.twg-text-with-icon {
  position: relative;
  padding-left: 30px;

  .material-icons {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 0px;
  }
}

@keyframes hot {
  0%   {
    color: #B71C1C;
  }
  25%  {
    color: #E64A19;
  }
  50%  {
    color: #FFEE58;
  }
  100% {
    color: #E64A19;
  }
}

header {
  .mdl-button {
    &.mdl-button--colored  {
        border-radius: 18px;
        color: #fff;
        background: $teal-600;
        margin-right: 15px;
        &:hover {
          background: $teal-800;
        }
    }
  }
}

.twg-section {
  width: 100%;
  clear: both;

  &.twg-section-colored {
    background: rgb(33, 150, 243);
    color: #ebebeb;
  }
}

.twg-chart-title {
  font-size: 1.2em;
  padding: 7px 0;
  color: $indigo-900;
  text-transform: uppercase;
}

.twg-stopwatch {
  height: 50px;
  position: relative;
  padding-left: 130px;
}

.twg-stopwatch-time {
  font-size: 3em;
  line-height: 50px;
  height: 50px;
}

.twg-stopwatch-button {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  background: $deep-orange-900 !important;
  color: $grey-100 !important;
}

.twg-header-button {
  position: fixed;
  top: 35px;
  z-index: 99;
}

.twg-header-button-add-new {
  left: 16px;
}

.mdl-layout__content {
  padding-top: 20px;
}

.twg-dialog {
  width: 400px;
  border: 0;
  z-index: 9999;
  overflow: visible;
  display: inline-block;
}

.twg-dialog-container {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;

  &:before {
    content: "";
    display: block;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.twg-dialog-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .mdl-card {
    text-align: left;
  }

  .mdl-card__title {
    font-size: 1.5em;
    font-weight: 200;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.twg-spinner {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.twg-transition-enter {
  transform: translateY(30px);
  opacity: 0.01;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.twg-transition-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
}

.twg-transition-leave {
  display: none;

  &.twg-transition-leave-active {
    opacity: 0;
  }

}

.twg-transition-appear {
  transform: translateY(30px);
  opacity: 0.01;

  &.twg-transition-appear-active {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.twg-header-appear {
  transform: translateY(-30px);
  opacity: 0.01;

  &.twg-header-appear-active {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}


.twg-table-cell--beans-name {
  white-space: normal;
  min-width: 150px;
}

.twg-profile-sidebar {
  padding-left: 0px;
  padding-right: 0px;

  > .mdl-cell {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.mdl-grid {
  align-items: flex-start;
}

.twg-login-form {
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -145px;
  border: 0;
}

.twg-anon {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #009688;
}


.twg-instructions {
  text-align: center;
  padding: 0px;

  .mdl-cell {
    position: relative;
    padding-top: 180px;
    padding-bottom: 20px;

    img {
      max-width: 100%;
    }

    .mdl-typography--font-thin {
      position: absolute;
      top: 20px;
      left: 0px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 25px;
      margin-bottom: 40px;
      color: #fff;
    }
  }
}

.twg-home-anonymous {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  canvas {
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -1200px;
  }

  .twg-instructions {
    position: fixed;
    width: 100%;
    bottom: 80px;
    color: #fff;
  }
}

.mui-ripple-circle {display: none}

.twg-footer {
  padding: 10px 20px;
  background: $teal-500;
  color: #fff;
  font-weight: 200;
  font-size: 0.9em;
  text-align: right;
  bottom: 0px;
  box-sizing: border-box;
  min-height: 40px;

  a {
    font-weight: 200;
    color: #fff;
  }
}

.twg-list__compare-select {
  max-height: 200px;
  overflow-y: auto;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }

  .mdl-layout {
    > span {
      z-index: 9999;
    }
  }

  .mdl-button-nav-start-roast {
    display: none;
  }

  .twg-button-text--nav-action {
    display: none;
  }

  .twg-util__half-width {
    width: 100% !important;
  }

  .twg-header-button {
    top: 25px;
  }

  header {
    .mdl-navigation {
      .mdl-button {
        padding: 0 10px;
        min-width: 10px;

        .material-icons {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 839px) {
  .mdl-grid {
    padding: 8px 0;
  }

  .twg-table-cell--hidden-mobile {
    display: none;
  }

  .twg-instructions {
    .mdl-cell {
      padding-top: 10px;

      .mdl-typography--font-thin {
        position: relative;
      }
    }
  }
}
